.not_found {
    height: 800px;
    background-image: url('../../img/notFound.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 50px;
}

.not_found a {
    font-size: 30px;
    color: rgb(255, 97, 97);
    font-weight: bold;
}