.date_now {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.829);
    color: #fdfdfd;
    padding: 20px;      
}

.navbar_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo {
    font-size: 45px;
    padding: 10px 30px;
    border-radius: 0px 40px 0px 30px;
    text-shadow: 0px 1px 8px rgb(0 173 255);
    background-image: url('../../img/soccer-ball.png');
    background-position: 0px 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.navbar_logo a {
    text-decoration: none;
    color: white
}

.navbar_items {
    display: flex;
}

.navbar_item {
    padding: 4px 15px;
    font-size: 22px;
    margin-left: 20px;    
}

.navbar_item a {
    color: white;
    text-decoration: none;
}
.navbar_item:hover {
    text-shadow: 1px 1px 10px rgb(0 173 255);
}

.navbar_item:active {
    box-shadow: none;
}

